############################
# NPM files
############################
**/node_modules
**/bower_components
node_modules
bower_components
npm-debug.log
.alinode.json
config/config.local.js
undefined/
package-lock.json
############################
# Temp files
############################
temp
tmp
.tmp
*.swo
*.swp
*.swn
*.swm
*.diff
*.log
*.patch
*.bak
*.log
*.iml
*.ipr
*.iws
*.out
*.gz
*#
*~
~*


############################
# Editor & OS files
############################
.idea
.DS_STORE
.Trashes
.project
.rebooted
.*proj
Thumbs.db
ehthumbs.db
Icon?
nbproject

############################
# Report files
############################
coverages
coverage
reports
lib-cov
html-report
nohup.out
out
logs
log


############################
# Other
############################
.node_history
.svn
PRIVATE_TOKEN
.nodejs-cache
run/
src/run/
dist/

assembly/
mocks_data/proxy/**/__*
tms
coverage

############################
# visual studio code settings
############################
.vscode/
